body {
  text-align: center;
  background: #9CFFF7;
  color: #F6FEFF;
  font-weight: bold;
  -webkit-text-stroke: 0.5px #013B45;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #9CF0FF;
  border-radius: 7px;
  

  
