body {
  text-align: center;
  background: linear-gradient(to right, #49FFF0, #49F9FF, #49FFFF, #4CF0FF, #4CDBFF, #4CBEFF, #4CB7FF);
  color: #F6FEFF;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.footer {
  background: linear-gradient(to right, #49FFF0, #49F9FF, #49FFFF, #4CF0FF, #4CDBFF, #4CBEFF, #4CB7FF);
  display: inline-block;
  border-radius: 5px;
  padding: 12px 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-radius: 7px;
}

.button {
  opacity: 90%;
  display: inline-block;
  background: #00bcd4;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
}
  
