body {
  text-align: center;
  background: linear-gradient(to right, #49FFF0, #49F9FF, #49FFFF, #4CF0FF, #4CDBFF, #4CBEFF, #4CB7FF);
  color: #F6FEFF;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #9CF0FF;
  border-radius: 7px;
  

  
